@charset "UTF-8";

/* Versão Mobile Frist */

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background: black url(../imagens/back-phone.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

main {
  background-color: rgba(255, 255, 255, 0.842);
  width: 90vw;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 1em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

img {
  display: block;
  margin: auto;
}

img#phone { display: block; } /*Libera a imagem do CELULAR*/
img#tablet { display: none; } /*Não exibe a imagem do TABLET*/
img#print { display: none; } /*Não exibe a imagem da IMPRESSORA*/
img#pc { display:none; } /*Não exibe a imagem do PC*/
img#tv { display: none; } /*Não exibe a imagem da TV*/